.main-tabs__design {
    background-image: url(../../../images/design.svg);
    margin: 0 21.92px 0;
    height: 667px;
    width: 372.56px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-image .2s ease;
}

.main-tabs__design:hover {
    background-image: url(../../../images/design-hover.svg);
}