@font-face {
    font-family: 'ccPro';
    src: url(./CodecPro-Heavy.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'mtLig';
    src: url(./Montserrat-Light.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'mtReg';
    src: url(./Montserrat-Regular.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'mtSBold';
    src: url(./Montserrat-SemiBold.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'mtBold';
    src: url(./Montserrat-Bold.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'mtEBold';
    src: url(./Montserrat-ExtraBold.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'mtBlack';
    src: url(./Montserrat-Black.woff2)format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 900;
}